@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;
}


@theme {
    --color-primary: rgb(15, 79, 124);
    --color-primary-dull: rgb(13, 65, 102);
}